@layer tokens {
    :where(:root, :host) {
  --colors-cyan: #5FB4A2;
  --colors-pine: #55A292;
  --colors-yankee_blue: #1D3444;
  --colors-japanese_indigo: #203A4C;
  --colors-dark-blue: #203A4C;
  --colors-grey-dark-blue: #33323D;
  --colors-light-grey: #FAFAFA;
  --colors-medium-grey: #EAEAEB;
  --colors-bright-red: #F43030;
  --fonts-heading: var(--font-ibrarra-real-nova);
  --fonts-body: var(--font-public-sans), sans-serif;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --breakpoints-lg: 1110px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --sizes-breakpoint-lg: 1110px
}
  }
  